<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="web/common/header :: web-common-header" />
<!--<div id="fb-root"></div>-->
</head>
<body>
<div class="content">
	<!-- Add your site or application content here -->
	<!-- Load Facebook SDK for JavaScript -->
	<div th:replace="web/common/header :: load-popup" />
	<!---->
	<!--organicfood wrapper start-->
	
		<div th:replace="web/common/header :: header" />
		<!--Slider start-->
		<!--contact area css satrt-->
    <div class="contact_area ptb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="contact_map_wrapper">
                        <div class="contact_map mb-40">
                            <!-- Contact Map Start -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3393.8849143624525!2d106.66675121432698!3d10.768791562280422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee760341555%3A0x82c61015183e64ce!2zNDM2YiDEkMaw4budbmcgMyBUaMOhbmcgMiwgUGjGsOG7nW5nIDEyLCBRdeG6rW4gMTAsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e1!3m2!1svi!2s!4v1603176193343!5m2!1svi!2s"
                                width="780" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            <!-- Contact Map End -->
                        </div>
                        <div class="contact-message">
                            <div class="contact_title">
                                <h4>Contact Information</h4>
                            </div>
                            <form id="contact-form" method="post" action="http://d29u17ylf1ylz9.cloudfront.net/organicfood-v1/assets/mail.php">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label for="contact_n">Name<span>*</span></label>
                                        <input name="name" id="contact_n" type="text">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="contact_n2">Email<span>*</span></label>
                                        <input name="email" id="contact_n2" type="email">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="contact_n3">Telephone</label>
                                        <input name="phone" id="contact_n3" type="text">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="contact_n4">Subject</label>
                                        <input name="subject" id="contact_n4" type="text">
                                    </div>
                                    <div class="col-12">
                                        <div class="contact-textarea">
                                            <label>Comment<span>*</span></label>
                                            <textarea name="message" class="form-control2" required=""></textarea>
                                        </div>
                                        <button type="submit"> Send Message </button>
                                    </div>
                                </div>
                                <p class="form-messege"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="contact_info_wrapper">
                        <div class="contact_title">
                            <h4>Location & Details</h4>
                        </div>
                        <div class="contact_info mb-15">
                            <div class="contact_info_icone">
                                <a href="#"><i class="icofont icofont-location-pin"></i></a>
                            </div>
                            <div class="contact_info_text">
                                <p><span>Address:</span> 436B/42/14, Ba Tháng Hai, phường 12, quận 10 <br> Thành Phố Hồ Chí Minh</p>
                            </div>
                        </div>
                        <div class="contact_info mb-15">
                            <div class="contact_info_icone">
                                <a href="#"><i class="icofont icofont-email"></i></a>
                            </div>
                            <div class="contact_info_text">
                                <p><span>Email: </span> Contact@beebrick@gmail.com </p>
                            </div>
                        </div>
                        <div class="contact_info mb-15">
                            <div class="contact_info_icone">
                                <a href="#"><i class="icofont icofont-phone"></i></a>
                            </div>
                            <div class="contact_info_text">
                                <p><span>Phone:</span>+(84) 123456789</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--contact area css end-->
		<!--Shipping area start-->
		<div th:replace="web/common/header :: shipping-area" />

		<!-- footer start -->
		<div th:replace="web/common/header :: footer" />

		<!-- footer end -->
		<!-- all js here -->
		<div th:replace="web/common/header :: body-bottom-scripts" />
</div>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<script>
    $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
    });
</script>
</body>
</html>