<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="web/common/header :: web-common-header" />
<!--<div id="fb-root"></div>-->
</head>
<body>
	<!-- Add your site or application content here -->
	<!-- Load Facebook SDK for JavaScript -->
	<div th:replace="web/common/header :: load-popup" />
	<!---->
	<!--organicfood wrapper start-->
	
		<div th:replace="web/common/header :: header" />
		<!--Slider start-->
		<!-- Start Maincontent  -->
    <section class="main-content-area my-account ptb-100">
        <div class="container">
            <div class="account-dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a href="#dashboard" data-toggle="tab" class="nav-link active">Dashboard</a></li>
                            <li th:classappend="${classActiveOrders}? 'active'"> <a href="#orders" data-toggle="tab" class="nav-link">Orders</a></li>
                            <li th:classappend="${classActiveBilling}? 'active'"><a href="#downloads" data-toggle="tab" class="nav-link">Billings</a></li>
                            <li th:classappend="${classActiveShipping}? 'active'"><a href="#address" data-toggle="tab" class="nav-link">Shipping</a></li>
                            <li th:classappend="${classActiveEdit}? 'active'"><a href="#account-details" data-toggle="tab" class="nav-link">Account details</a></li>
                            <li><a href="login.html" class="nav-link">logout</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard-content">
                            <div class="tab-pane fade show active" id="dashboard">
                                <h3>Hello: <span th:text="${#strings.toUppserCase{customer.username}}"></span></h3>
                                <p>From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">Edit your password and account details.</a></p>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>Orders</h3>
                                <div class="organic-table-area table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="success">Completed</span></td>
                                                <td>$25.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>May 10, 2018</td>
                                                <td>Processing</td>
                                                <td>$17.00 for 1 item </td>
                                                <td><a href="cart.html" class="view">view</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="downloads">
                                <h3>Downloads</h3>
                                <div class="organic-table-area table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Downloads</th>
                                                <th>Expires</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Shopnovilla - Free Real Estate PSD Template</td>
                                                <td>May 10, 2018</td>
                                                <td><span class="danger">Expired</span></td>
                                                <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                            </tr>
                                            <tr>
                                                <td>Organic - ecommerce html template</td>
                                                <td>Sep 11, 2018</td>
                                                <td>Never</td>
                                                <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane" id="address">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <h4 class="billing-address">Billing address</h4>
                                <a href="#" class="view">Edit</a>
                                <p><strong>Bobby Jackson</strong></p>
                                <address>
	                                    	House #15<br>
	                                    	Road #1<br>
	                                    	Block #C <br>
	                                    	Banasree <br>
	                                    	Dhaka <br>
	                                    	1212
	                                    </address>
                                <p>Bangladesh</p>
                            </div>
                            <div class="tab-pane fade" id="account-details" th:classappend="${classActiveEdit}? 'in active'">
                                <h3>Account details </h3>
                                <div class="login">
                                    <div class="login-form-container">
                                        <div class="account-login-form">
                                            <form th:action="@{/updateCustomerInfo}" method="post">
                                                <p>Already have an account? <a href="#">Log in instead!</a></p>
                                                <input type="hidden" name="id" th:value="${customer.CustomerID}">
                                                <div class="bg-info" th:if="${updateCustomerInfo}">User info updated</div>

                                                <div class="input-radio">
                                                    <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mr.</span>
                                                    <span class="custom-radio"><input type="radio" value="1" name="id_gender"> Mrs.</span>
                                                </div> <br>
                                                <label for="full-name">FullName</label>
                                                <input type="text" name="full-name" id="full-name" th:value="${customer.fullname}"/>

                                                <label for="email-name">Email</label>
                                                <input type="text" name="email-name" id="email-name" th:value="${customer.email}"/>

                                                <label for="userName">UserName</label>
                                                <input type="text" name="userName" id="userName" th:value="${customer.username}"/>

                                                <label for="currentPassword">Current Password</label>
                                                <input type="password" name="currentPassword" id="currentPassword"/>

                                                <label for="newPassword">New Password</label>
                                                <input type="password" name="newPassword" id="newPassword"/>

                                                <label for="confirmPassword">Confirm Password</label>
                                                <input type="password" name="confirmPassword" id="confirmPassword"/>

                                                <div class="save-button primary-btn default-button">
                                                    <a href="#">Save changes</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Maincontent  -->
		<!--Shipping area start-->
		<div th:replace="web/common/header :: shipping-area" />

		<!-- footer start -->
		<div th:replace="web/common/header :: footer" />

		<!-- footer end -->
		<!-- all js here -->
		<div th:replace="web/common/header :: body-bottom-scripts" />
</body>
</html>