<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="web/common/header :: web-common-header" />
<!--<div id="fb-root"></div>-->
</head>
<body>
<div class="content">
<!-- Add your site or application content here -->
<!-- Load Facebook SDK for JavaScript -->
<div th:replace="web/common/header :: load-popup" />
<!---->
<!--organicfood wrapper start-->

<div th:replace="web/common/header :: header" />
<!--Slider start-->
<!-- primary block area -->
<div class="table_primary_block pt-100">
    <h2 class="section-headline">
        <h2 class="section-headline">
            <span th:text="${customer}? ${#strings.toUpperCase(customer.username)} : 'All Books'"></span>
        </h2>
    </h2>
    <div class="container">
        <form th:action="@{/shoppingCart/addItem}" method="post">
            <input hidden="hidden" th:field="*{product.productID}">

            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="product-flags">
                        <div class="tab-content" th:object="${product}" >
                            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                <div class="product_tab_img">
                                    <a href="#"><img th:src="@{'/getimage/' + ${product.image}}" alt="" ></a>
                                </div>
                            </div>
                        </div>

                       <!-- <div class="products_tab_button">
                            <ul class="nav product_navactive" role="tablist">
                                <li class="product_button_one">
                                    <a class="nav-link active" data-toggle="tab" href="#tabone" role="tab" aria-controls="imgeone" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-burnt.jpg" alt="" width="100px"></a>
                                </li>
                                <li>
                                    <a class="nav-link" data-toggle="tab" href="#tabtwo" role="tab" aria-controls="imgetwo" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-q.jpg" alt="" width="100px"></a>
                                </li>
                                <li>
                                    <a class="nav-link" data-toggle="tab" href="#tabthree" role="tab" aria-controls="imgethree" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rq.jpg" alt="" width="100px"></a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12" >

                    <div class="product__details_content" th:object="${product}">
                        <input type="hidden" th:field="*{productID}"/>
                        <div class="demo_product">
                            <h2 th:text="*{productName}"></h2>
                        </div>
                        <div class="product_comments_block">
                            <div class="comments_note clearfix">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="comments_advices">
                                <ul>
                                    <li><a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i>
                                        Read reviews (<span>1</span>)</a></li>
                                    <li><a href="#"><i class="fa fa-pencil"></i>Read reviews </a></li>
                                    <li><h5><span th:if="${addSuccess}" style="color: forestgreen"><i class="fa fa-check" aria-hidden="true" style="color: forestgreen"></i>Added to cart.</span></h5></li>
                                    <li><h5><span th:if="${notEnoughStock}" style="color: red">Oops, only <span th:text="${product.quantityInStock}"></span> In Stock.</span></h5></li>

                                </ul>
                            </div>
                        </div>
                        <div class="current_price">
                            <span th:text="*{price}"></span>
                        </div>
                        <div class="product_information">
                            <div id="product_description_short">
                                &nbsp
                            </div>
                            <div class="product_variants">
                                <div class="quickview_plus_minus">
                                    <span class="control_label">Quantity</span>
                                    <div class="quickview_plus_minus_inner">
                                        <div class="cart-plus-minus">
                                            <input  type="text" th:value="${product.quantityInStock}" name="qtybutton" class="cart-plus-minus-box">


                                            <select name="qty">
                                                <option th:each="qty : ${qtyList}" th:value="${qty}" th:text="${qty}">
                                                </option>
                                            </select>
                                        </div>
                                        <div>
                                            <h4 th:if="${product.quantityInStock&gt;10}" style="color: green">In Stock</h4>
                                            <h4 th:if="${product.quantityInStock&lt;10 and product.quantityInStock&gt;0}" style="color: green">Only <span th:text="${product.quantityInStock}"> </span> In Stock</h4>
                                            <h4 th:if="${product.quantityInStock==0}" style="color:darkred;">Unavailable</h4>
                                        </div>
                                    </div>
                                    <div class="add_button">
                                        <button type="submit"> Add to cart</button>
                                    </div>
                                </div>
                                <div class="block-reassurance">
                                    <ul>
                                        <li>
                                            <img src="assets/img/cart/cart1.png" alt="">
                                            <span>Security policy (edit with Customer reassurance module)</span>
                                        </li>
                                        <li>
                                            <img src="assets/img/cart/cart2.png" alt="">
                                            <span>Delivery policy (edit with Customer reassurance module)</span>
                                        </li>
                                        <li>
                                            <img src="assets/img/cart/cart3.png" alt="">
                                            <span>Return policy (edit with Customer reassurance module)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- primary block end -->

<!-- product page tab -->

<div class="product_page_tab ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_tab_button">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li>
                            <a class=" tav_past active" id="home-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">Description</a>
                        </li>
                        <li>
                            <a class=" tav_past" id="profile-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Information</a>
                        </li>
                        <li>
                            <a class=" tav_past" id="contact-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">Reviews</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- product page tab end -->

<!--Features product area-->
<div class="features_product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title text-left">
                    <h3> Related Product </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="related_product_active owl-carousel">

                <div class="col-lg-2" th:each="product1 : ${products1} ">

                    <div class="single__product">
                        <div class="single_product__inner">
                            <span class="new_badge">new</span>
                            <div class="product_img">
                                <a href="#">
                                    <img th:src="@{'/getimage/' + ${product1.image}}" />
                                </a>
                            </div>
                            <div class="product__content text-center">
                                <div class="produc_desc_info">
                                    <div class="product_title">
                                        <a href="#" th:text="${product1.productName}"></a>
                                    </div>
                                    <div class="product_price">
                                        <p th:text="${product1.price}"></p>
                                    </div>
                                </div>
                                <div class="product__hover">
                                    <ul>
                                        <li><a href="#"><i class="ion-android-cart"></i></a></li>
                                        <li><a class="cart-fore" href="#" data-toggle="modal" data-target="#my_modal" title="Quick View"><i class="ion-android-open"></i></a></li>
                                        <li><a th:href="@{/web/product-detail?productID={productID}(productID=${product1.productID})}"><i class="ion-clipboard"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Features product end-->
<!-- modal area start -->
<!-- modal area start -->
<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body shop">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="product-flags madal">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="imgeone" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-burnt.jpg" alt="" class="img-show-nav"></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="imgetwo" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rq.jpg" alt="" class="img-show-nav"></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="imgethree" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rqbruo2nr.jpg" alt="" class="img-show-nav"></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="imge4" role="tabpanel">
                                        <div class="product_tab_img">
                                            <a href="#"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rqq.jpg" alt="" class="img-show-nav"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="products_tab_button  modals">
                                    <ul class="nav product_navactive" role="tablist">
                                        <li>
                                            <a class="nav-link active" data-toggle="tab" href="#imgeone" role="tab" aria-controls="imgeone" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-burnt.jpg" alt="" class="img-cart"></a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-toggle="tab" href="#imgetwo" role="tab" aria-controls="imgetwo" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rq.jpg" alt="" class="img-cart"></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#imgethree" role="tab" aria-controls="imgethree" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rqbruo2nr.jpg" alt="" class="img-cart"></a>
                                        </li>
                                        <li>
                                            <a class="nav-link button_three" data-toggle="tab" href="#imge4" role="tab" aria-controls="imge4" aria-selected="false"><img src="assets/img/cart/duckoo-tropical-island-blind-box-series-by-chokocider-x-pop-mart-the-toy-chronicle-2020-rqq.jpg" alt="" class="img-cart"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="social-share">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal area end -->
<!--Shipping area start-->
<div th:replace="web/common/header :: shipping-area" />

<!-- footer start -->
<div th:replace="web/common/header :: footer" />

<!-- footer end -->
<!-- all js here -->
<div th:replace="web/common/header :: body-bottom-scripts" />
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<script>
    $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
    });
</script>
</body>
</html>