<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add User</title>
	<link type="text/css" rel="stylesheet" href="../../bootstrap.min.css"  />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		.error{
			color: red;
		}
	</style>
</head>
<body>
	<div class="container col-6">
		<div class="card">
			<div class="card-header">
				<h2 style="text-align: center;">ADD NEW USER</h2>
			</div>
			<form th:object="${product}" th:action="@{/admin/product/save}" action="#" method="post" enctype="multipart/form-data">
				<div class="card-body">
					<div>
			            <label th:text="ProductName" th:for="productName"></label>
			            <input type="text" th:field="*{productName}" class="form-control" id="ProductName"/>
			            <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" id="productName" class="error"></span>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="Image" th:for="image"></label>
			            <input type="file" class="form-control" name="photo_file" id="photo_file"/>
			            
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="Price" th:for="price"></label>
			            <input type="text" th:field="*{price}" class="form-control" id="Price"/>
			            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" id="price" class="error"></span>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="QuantityInStock" th:for="quantityInStock"></label>
			            <input type="number" th:field="*{quantityInStock}" class="form-control" id="QuantityInStock"/>
			            <span th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}" id="quantityInStock" class="error"></span>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        
			        <div>
			            <label th:text="Description" th:for="description"></label>
			            <textarea type="text" th:field="*{description}" rows="10" class="form-control"></textarea>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
					<div>
						<label th:text="CategoryName" th:for="category.categoryID"></label> 
						<select th:field="*{category.categoryID}" class="form-control">
							<option value=""></option>
							<option th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.categoryID}" />
						</select>
					</div>
					<div style="clear: both; display: block; height: 10px"></div>
					<div>
						<label th:text="ManufacturerName" th:for="manufacturer.manufacturerID"></label> 
						<select th:field="*{manufacturer.manufacturerID}" class="form-control">
							<option value=""></option>
							<option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.manufacturerName}" th:value="${manufacturer.manufacturerID}" />
						</select>
					</div>
				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
	<script>
		$("#ProductName").on('input', function(){
			var productName = document.getElementById("ProductName").value;
			if(productName != ""){
				document.getElementById("productName").innerHTML = "";
			}
		});
		
		$("#Price").on('input', function(){
			var price = document.getElementById("Price").value;
			if(price != ""){
				document.getElementById("price").innerHTML = "";
			}
		});
		
		$("#QuantityInStock").on('input', function(){
			var quantityInStock = document.getElementById("QuantityInStock").value;
			if(quantityInStock != ""){
				document.getElementById("quantityInStock").innerHTML = "";
			}
		});
	</script>
</body>
</html>