<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link type="text/css" rel="stylesheet" href="../../bootstrap.min.css" />
</head>
<body>
	<div class="container col-6">
		<div class="card">
			<div class="card-header">
				<h2 style="text-align: center;">Edit User</h2>
			</div>
		    <form th:object="${product}" th:action="@{/admin/product/update}" action="#" method="post" enctype="multipart/form-data">
				<div class="card-body">
					<input type="hidden" th:field="*{productID}">
					<div>
			            <label th:text="ProductName" th:for="productName"></label>
			            <input type="text" th:field="*{productName}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="Image" th:for="photo_file"></label>
			            <img id="photo" style="border-radius: 50%" width="50"  height="50" th:src="@{'/getimage/' + ${product.image}}"/>
			            <input type="file" class="form-control" name="photo_file" id="photo_file"/>
			            <input type="hidden" th:field="*{image}"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="Price" th:for="price"></label>
			            <input type="text" th:field="*{price}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="QuantityInStock" th:for="quantityInStock"></label>
			            <input type="number" th:field="*{quantityInStock}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        
			        <div>
			            <label th:text="Description" th:for="description"></label>
			            <input type="text" th:field="*{description}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
					<div>
						<label th:text="CategoryName" th:for="category.categoryID"></label> 
						<select th:field="*{category.categoryID}" class="form-control">
							<option value=""></option>
							<option th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.categoryID}" />
						</select>
					</div>
					<div style="clear: both; display: block; height: 10px"></div>
					<div>
						<label th:text="ManufacturerName" th:for="manufacturer.manufacturerID"></label> 
						<select th:field="*{manufacturer.manufacturerID}" class="form-control">
							<option value=""></option>
							<option th:each="manufacturer : ${manufacturers}" th:text="${manufacturer.manufacturerName}" th:value="${manufacturer.manufacturerID}" />
						</select>
					</div>
				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>