<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add User</title>
	<link type="text/css" rel="stylesheet" href="../../bootstrap.min.css"  />
	<script type="text/javascript" src="../../ckeditor/ckeditor.js"></script>
	<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		.error{
			color: red;
		}
	</style>
</head>
<body>
	<div class="container col-6">
		<div class="card">
			<div class="card-header">
				<h2 style="text-align: center;">ADD NEW USER</h2>
			</div>
			<form th:object="${category}" th:action="@{/admin/category/save}" action="#" method="post">
				<div class="card-body">
					<div>
			            <label th:text="CategoryName" th:for="categoryName"></label>
			            <input type="text"  class="form-control"/>
			           	<textarea rows="" cols="" id="content" name="content" style="width: 820px; height: 175px" th:field="*{categoryName}"></textarea>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        
			        

				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
	<script>
		var editor = '';
		$(document).ready(function() {
			editor = CKEDITOR.replace('content');
		});
	</script>
</body>
</html>