<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
    <link type="text/css" rel="stylesheet" href="../../bootstrap.min.css" />
    <script type="text/javascript" src="../../ckeditor/ckeditor.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div class="container col-6">
		<div class="card">
			<div class="card-header">
				<h2 style="text-align: center;">Edit User</h2>
			</div>
		    <form th:object="${category}" th:action="@{/admin/category/update}" action="#" method="post">
				<div class="card-body">
					<input type="hidden" th:field="*{categoryID}">
					<div>
			            <label th:text="CategoryName" th:for="categoryName"></label>
			            <input type="text" th:field="*{categoryName}" class="form-control" id="CategoryName"/>
			            <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" id="categoryName" class="error"></span>
			            <span th:text=${message} id="categoryName" class="error"></span>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="Description" th:for="description"></label>
			            <textarea th:field="*{description}" rows="10" class="form-control"></textarea>
			        </div>
				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
	<script>
		$("#CategoryName").on('input', function(){
			var categoryName = document.getElementById("CategoryName").value;
			if(categoryName != ""){
				document.getElementById("categoryName").innerHTML = "";
			}
		});
	</script>
</body>
</html>