<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add User</title>
	<link type="text/css" rel="stylesheet" href="../../bootstrap.min.css"  />
	<style>
		.error{
			color: red;
		}
	</style>
</head>
<body>
	<div class="container col-6">
		<div class="card">
			<div class="card-header">
				<h2 style="text-align: center;">ADD NEW USER</h2>
			</div>
			<form th:object="${supplier}" th:action="@{/admin/supplier/save}" action="#" method="post">
				<div class="card-body">
					<div>
			            <label th:text="SupplierName" th:for="supplierName"></label>
			            <input type="text" th:field="*{supplierName}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="SupplierAddress" th:for="supplierAddress"></label>
			            <input type="text" th:field="*{supplierAddress}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="SupplierEmail" th:for="supplierEmail"></label>
			            <input type="text" th:field="*{supplierEmail}" class="form-control"/>
			        </div>
			        <div style="clear: both; display: block; height: 10px"></div>
			        <div>
			            <label th:text="SupplierPhone" th:for="supplierPhone"></label>
			            <input type="text" th:field="*{supplierPhone}" class="form-control"/>
			        </div>
			        

				</div>
				<div class="card-footer">
					<input type="submit" class="btn btn-success" value="Save" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>